
.banner{
    -fx-background-image: url("banner.png");
    -fx-background-size:stretch;
    
}
.hbox{ 
    -fx-background-color: rgb(230, 230, 230);
}
.medio{
    -fx-border-insets: 12 5 22 10;
}
.boton{
    -fx-translate-y: 20;
    -fx-translate-x: 15;
    
}
.ventana2{
    -fx-background-color: rgb(128, 194, 54);
    -fx-font-size: 13px; 
}
.simbolo{
    -fx-translate-y: 20;
    -fx-translate-x: -15;
}
.simbolo2{
    -fx-translate-y: 30;
    -fx-translate-x: -15;
    
}